<% if spree_current_user && spree_current_user.wishlist.wished_items.size > 0 %>
  <section aria-labelledby="related-heading" class="mt-24">
    <h2 id="related-heading" class="text-lg font-medium text-gray-900"><%= Spree.t(:my_wishlists) %></h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% spree_current_user.wishlist.wished_items.each do |wished_item| %>
        <% product = wished_item.variant.product %>
        <% url = spree.product_path(product) %>
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
           <%= plp_and_carousel_image(product, "h-full w-full object-cover object-center group-hover:opacity-75") %>
        </div>
        <div class="mt-6 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <%= link_to url do %>
                <span aria-hidden="true"></span>
                <%= product.name %>
              <% end %>
            </h3>
          </div>
          <p class="text-sm font-medium text-gray-900">
            <%= display_price(product) %>
          </p>
        </div>
        <p class="flex items-center space-x-2 text-sm text-gray-700 mt-3 mb-1">
          <% if product.in_stock? %>
            <%= render 'spree/products/cart_form_availability_templates', type: 'in-stock' %>
          <% else %>
            <%= render 'cart_form_availability_templates', type: 'out-of-stock' %>
          <% end %>
        </p>
        <div class="mt-4 flex sm:max-w-md">
          <div class="w-full">
            <a href="#" class="relative flex items-center justify-center rounded-md border border-transparent h-full bg-gray-100 py-1 text-sm font-medium text-gray-900 hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>

              Add to bag
              <span class="sr-only">, Zip High Wall Tote</span>
            </a>
          </div>
          <div class="ml-4 flex-shrink-0 flex">
            <%= link_to remove_item_wishlists_path(variant_id: product.master.id, view: "cart"), method: :delete, remote: true, class: "ml-4 flex items-center justify-center rounded-md px-3 py-3 text-gray-400 hover:bg-gray-100 hover:text-gray-500 display-in-target-container-js", :"data-remote-target" => '#wishlist-container-js' do %>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only"><%= Spree.t(:remove_from_wishlist) %></span>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </section>
<% end %>
